.LocInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
  }
  
  input[type=button],
  input[type=submit] {
    background-color: #ffffff66;
    border-radius: 8px;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 16px;
  }
  
  input[type=input] {
    padding: 10px;
  }