body {
  font-family: sofia-pro, sans-serif;
  /* background-color: black; */
}

.App {
  position: absolute;
  width: 80vw;
  height: 100vh;
  transform: translate(10vw, 0vw);
}

.LocInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-size: 20px;
  font-family: sofia-pro, sans-serif;
}

input[type=button],
input[type=submit] {
  background-color: #ffffffff;
  border-radius: 8px;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 16px;
}

input[type=input] {
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media 
only screen and (min-width: 501px) {

}

@media 
only screen and (max-width: 500px) {

}