body {
  font-family: sofia-pro, sans-serif;
  /* overflow: hidden; */
  /* background-color: black; */
}

.Parent {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.App {
  position: absolute;
  width: 80vw;
  height: 100vh;
  transform: translate(10vw, 0vw);
}

.siteTitle {
  z-index: 100;
  line-height: 50%;
  padding-top: 3vh;
}

.shamelessPlug {
  font-weight: normal;
  font-size: 70%;
}

.utilsAndCredits {
  position: absolute;
  right: 0vw;
  bottom: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media 
only screen and (min-width: 501px) {

}

@media 
only screen and (max-width: 500px) {
  
  .sunWrapper {
    opacity: .5;
  }
}